* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border: 4px solid red;
}

body {
  background: black;
}

header .header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-container .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #3A68B8;
  font-weight: 600;
  font-size: 22.55px;
  line-height: 100%;
}
header .header-container .logo:hover {
  color: #fff;
  cursor: pointer;
}
header .header-container .header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header-container .header-list .header-item a {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
}
header .header-container .header-list .header-item a:hover {
  color: #3A68B8;
  cursor: pointer;
}
header .header-container .btn {
  padding: 12px 30px;
  font-size: 18px;
  border: 1px solid #3A68B8;
  background: #3A68B8;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: progress;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
header .header-container .btn:hover {
  background: none;
  border: 1px solid #3A68B8;
}

.section_one .section_one-wrapper {
  padding: 80px 0;
}
.section_one .section_one-wrapper .section-ones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 82px;
}
.section_one .section_one-wrapper .section-ones .one-left {
  max-width: 50%;
}
.section_one .section_one-wrapper .section-ones .one-left h5 {
  color: #3A68B8;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.section_one .section_one-wrapper .section-ones .one-left h2 {
  width: 599px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  margin-bottom: 40px;
}
.section_one .section_one-wrapper .section-ones .one-left p {
  width: 558px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 50px;
}
.section_one .section_one-wrapper .section-ones .one-left .one-btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section_one .section_one-wrapper .section-ones .one-left .one-btns .one-btn {
  padding: 12px 30px;
  font-size: 18px;
  border: 1px solid #3A68B8;
  background: #3A68B8;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  color: #fff;
  outline: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: progress;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.section_one .section_one-wrapper .section-ones .one-left .one-btns .one-btn:hover {
  background: none;
  border: 1px solid #3A68B8;
}
.section_one .section_one-wrapper .section-ones .one-right {
  max-width: 50%;
}
.section_one .section_one-wrapper .section-ones .one-right .right-rasm {
  max-width: 100%;
}
.section_one .section_one-wrapper .one-images {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.section_one .section_one-wrapper .one-images .one-image {
  width: 23%;
}

.section_two .section_two-wrapper {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.section_two .section_two-wrapper .two-left {
  max-width: 50%;
}
.section_two .section_two-wrapper .two-left img {
  width: 100%;
}
.section_two .section_two-wrapper .two-right {
  max-width: 50%;
}
.section_two .section_two-wrapper .two-right h2 {
  max-width: 484px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 30px;
}
.section_two .section_two-wrapper .two-right p {
  max-width: 460px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}
.section_two .section_two-wrapper .two-right .two-btn {
  padding: 12px 30px;
  border: 1px solid #3A68B8;
  background: #3A68B8;
  box-shadow: 0 0 5px #000;
  border-radius: 5px;
  color: #fff;
  outline: none;
  cursor: progress;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.section_two .section_two-wrapper .two-right .two-btn:hover {
  background: none;
  border: 1px solid #3A68B8;
}

.section_three .section_three-wrapper {
  padding: 60px 0;
}
.section_three .section_three-wrapper .three-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.section_three .section_three-wrapper .three-list .three-item {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 12px;
}
.section_three .section_three-wrapper .three-list .three-item img {
  width: 40%;
  margin-bottom: 30px;
}
.section_three .section_three-wrapper .three-list .three-item h3 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  margin-bottom: 30px;
}
.section_three .section_three-wrapper .three-list .three-item p {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

@media (max-width: 1160px) {
  .section_one .section_one-wrapper .section-ones .one-left {
    max-width: 48%;
  }
  .section_one .section_one-wrapper .section-ones .one-right {
    max-width: 48%;
  }
  .section_one .section_one-wrapper .section-ones .one-right .right-rasm {
    max-width: 100%;
  }
  .section_three .section_three-wrapper .three-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 960px) {
  header .header-container .header-list {
    gap: 10px;
  }
  .section_one .section_one-wrapper {
    padding: 60px 0;
  }
  .section_one .section_one-wrapper .section-ones {
    flex-direction: column-reverse;
  }
  .section_one .section_one-wrapper .section-ones .one-left {
    max-width: 100%;
    text-align: center;
  }
  .section_one .section_one-wrapper .section-ones .one-left h2 {
    width: 100%;
  }
  .section_one .section_one-wrapper .section-ones .one-left p {
    width: 100%;
  }
  .section_one .section_one-wrapper .section-ones .one-right {
    max-width: 52%;
  }
  .section_one .section_one-wrapper .section-ones .one-right .right-rasm {
    max-width: 100%;
  }
}
@media (max-width: 860px) {
  .section_two .section_two-wrapper {
    flex-direction: column;
  }
  .section_two .section_two-wrapper .two-left {
    max-width: 50%;
  }
  .section_two .section_two-wrapper .two-right {
    max-width: 100%;
  }
  .section_two .section_two-wrapper .two-right h2 {
    max-width: 100%;
  }
  .section_two .section_two-wrapper .two-right p {
    max-width: 100%;
  }
}
@media (max-width: 760px) {
  header .header-container .header-list {
    display: none;
  }
}
@media (max-width: 660px) {
  .section_one .section_one-wrapper {
    padding: 60px 0;
  }
  .section_one .section_one-wrapper .section-ones {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }
  .section_one .section_one-wrapper .section-ones .one-left {
    max-width: 100%;
    text-align: center;
  }
  .section_one .section_one-wrapper .section-ones .one-left h5 {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
  .section_one .section_one-wrapper .section-ones .one-left h2 {
    width: 100%;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .section_one .section_one-wrapper .section-ones .one-left p {
    width: 100%;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .section_one .section_one-wrapper .section-ones .one-left .one-btns .one-btn {
    padding: 8px 18px;
    text-align: center;
  }
  .section_one .section_one-wrapper .section-ones .one-right {
    max-width: 72%;
  }
  .section_one .section_one-wrapper .section-ones .one-right .right-rasm {
    max-width: 100%;
  }
  .section_one .section_one-wrapper .one-images {
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
  .section_two .section_two-wrapper {
    flex-direction: column;
    padding: 40px 0;
  }
  .section_two .section_two-wrapper .two-left {
    max-width: 60%;
    margin-bottom: 10px;
  }
  .section_two .section_two-wrapper .two-right {
    max-width: 100%;
    text-align: center;
  }
  .section_two .section_two-wrapper .two-right h2 {
    max-width: 100%;
    font-size: 29px;
    line-height: 31px;
  }
  .section_two .section_two-wrapper .two-right p {
    max-width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 560px) {
  header .header-container .logo {
    gap: 3px;
    font-size: 15px;
  }
  header .header-container .header-list {
    display: none;
  }
  header .header-container .btn {
    padding: 8px 14px;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */